
$primary-color: black;
$secondary-color: rgb(103, 252, 210);
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

.navbar{
    background-color: $primary-color  !important;
    color: $secondary-color  !important;
}
.logo{
    margin-right: 2 !important;
    font-family: 'Nanum Gothic' !important;
    color: rgb(103, 252, 210) !important;
    text-decoration: none !important;
}
.menu{
     display: 'block' !important;
     math-depth: 'none'  !important;
}
.left-side-box{
    flex-grow: 1;
    display: flex;
  
    @media (min-width: 768px) {
      display: none;
    }
}
.middle-side-box{
      flex-grow: 1;
      display: none; // ברירת מחדל - לא תוצג במסך רוחב נמוך
    }
    
    @media (min-width: 768px) {
      .middle-side-box {
        display: flex; // תוצג כאשר המסך רוחבו 768px או יותר
      } 
}
