
$primary-color: black;
$secondary-color: rgb(103, 252, 210);

.profile-tabs{
    background-color: $primary-color  !important;
    color: $secondary-color  !important;
}
.footer-tabs{
    background-color: $primary-color  !important;
    color: $secondary-color  !important;
}
.navbar-tabs{
    background-color: $primary-color  !important;
    color: $secondary-color  !important;
}
.c{
   background-color: $secondary-color  !important;
}