@import '../stories/variables.scss';
@import './profileActivationTimer.scss';
.profile-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 2%;
}
.profile-list-select-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 2%;
}
.profile-list-select {
  position: absolute;
  top: 2.5vh;
  width: 15vw;
}
.profile-list-loading {
  font-size: 1.2em;
  color: $primary-color;
}
.profile-list-details {
  text-align: center;
  width: 100%;
  max-width: 120vw;
  margin-bottom: 9vh;
}
.profile-list-table {
  margin-top: 2vh;
  width: 98%;
  max-width: 120vw;
}
h1, h2, p {
  text-align: center;
}
button {
  display: block;
  margin: 2vh auto;
}
.custom-time-input {
  color: $primary-color;
  background-color: white;
  border: 2px solid $secondary-color;
  padding: 0.5%;
  border-radius: 10px;
  margin: 2vh;
  &:hover {
    border-color: darken($secondary-color, 10%);
  }
  &:focus {
    border-color: darken($secondary-color, 10%);
    outline: none;
    box-shadow: 0 0 8px rgba($secondary-color, 0.5);
  }
}
.div-time {
  display: flex;
  justify-content: center;
}
.div-time > *:not(:last-child) {
  margin-right: 10%;
}
.dialog-content-text {
  padding: 2vh;
}
.component-add {
  position: absolute;
  margin-bottom: 2vh;
  margin: 2vh;
  right: 0.7vw;
}
.component-update {
  position: absolute;
  top: 22vh;
  margin-bottom: 2vh;
  margin: 2vh;
  right: 0.7vw;
}
.profile-list-container {
  .profile-list-button {
    background-color: transparent;
    border: 2px solid $secondary-color;
    color: $secondary-color;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    &:hover {
      background-color: $secondary-color;
      color: white;
    }
    &:focus {
      outline: none;
    }
  }
}
.helper-text-error {
  color: $standardErrorColor;
}
.divAddUrl {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.profile-select {
  width: 15vw;
}
.timer {
  margin-left:3vh;
}
.green_title{
  color:  rgb(103, 252, 210) ;
}
