@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import './style.scss';

.generic-input {
  .MuiOutlinedInput-root {
    border-radius: 8px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    border-color: $color-border;
    border-width: 1px;
    width: 100%;

    &:hover {
      border-color: $color-border-hover;
      box-shadow: 0 0 5px rgba($color-border, 0.5);
    }

    &.Mui-focused fieldset {
      border-color: $color-border-hover;
      box-shadow: 0 0 8px rgba($color-border, 0.8);
    }

    &:not(.Mui-error) fieldset {
      border-color: $color-border;
    }

    &.Mui-disabled {
      opacity: 0.7; 
      cursor: not-allowed; 

      input {
        color: rgba($color-black, 0.7); 
        pointer-events: none; 
      }
    }

    input {
      color: $color-black;
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      font-size: 14px;
      transition: color 0.3s ease;
    }

    &.Mui-error {
      border-color: $color-error;
    }
  }

  .MuiFormLabel-root {
    color: $color-black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    transition: color 0.3s ease;

    &.Mui-focused {
      color: $color-border-hover;
    }
  }

  .MuiFormHelperText-root {
    color: $color-black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
    transition: color 0.3s ease;

    &.Mui-error {
      color: $color-error;
    }
  }
}
