$background-class: #ffffff;
$secondary-color-hard:  rgb(200, 245, 232);
$primary-color: black;
$secondary-color: rgb(103, 252, 210);
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
