$standardSuccessColor:rgba(229, 245, 233, 0.8);
$standardErrorColor:rgba(254, 226, 226, 0.8);
$standardWarningColor:rgba(255, 255, 224, 0.8);
$standardInfoColor:rgba(224, 242, 241, 0.8);
$primary-color: black;
$secondary-color: rgb(103, 252, 210);
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
