
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
.footer {
    background-color: #000000;
    color: rgb(103, 252, 210);
    padding: 20px;
    text-align: left;
    margin-top: 40%;
  }
  
  .footer-text {
    font-size: 14px;
    font-weight: 300;
  }
  .link {
    color: aqua;
    font-family: "Nanum Gothic", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }