@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

.myButton{
    font-family:  "Nanum Gothic", sans-serif !important;
    font-optical-sizing: auto !important;
    font-style: normal !important;
    border-radius: 1em !important;
    border: 2px !important;
    border-style: solid !important;
    border-color: rgb(103, 252, 210) !important;
}

.myButton-primary{
    background-color: black !important;
    color: white !important;
}

.myButton-secondary{
    background-color:  white!important;
    color: black !important;
}

