@import '../stylies.scss';
.navbar{
    background-color: $primary-color  ;
    color: $secondary-color  ;
}
.logo{
    margin-right: 2 ;
    font-family: 'Nanum Gothic' ;
    color: rgb(103, 252, 210) ;
    text-decoration: none ;
}
.menu{
     display: 'block' ;
     math-depth: 'none'  ;
}
.left-side-box{
    flex-grow: 1;
    display: flex;
  
    @media (min-width: 768px) {
      display: none;
    }
}
.middle-side-box{
    margin-left: 20vw;
      flex-grow: 1;
      display: none;
    }
    
    @media (min-width: 768px) {
      .middle-side-box {
        display: flex;
      } 
}
